@import "tailwindcss/preflight";
@tailwind utilities;


body { 
    font-family: 'Cairo', sans-serif;
    background-color: #fef4e8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}


/*header styles*/ header {
    background-color: #c8095e;
    width: 100%; 
    height: 5rem;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    position: fixed;
    right: 0;
    list-style: none;
    padding: 0 0.5rem;
    margin: 0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /*shadow on left side*/
    z-index: 1000; /*make sure header is on top*/
}

/*logo*/ .logo {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 1rem;
    text-decoration: none;/*remove underline*/
    cursor: pointer;
    padding: 0; 
}

.logo img {
    height: 100%;/*make the logo fit the header height*/
    width: auto;
    object-fit: contain;
    display: block;
}

/*end logo*/ 
 
nav{
    padding: 0.5rem; 
    gap: 2rem; /*space between ul and logo*/
    display: flex;
    flex: 0 0 400px; /*fixed width for nav*/
    justify-content: flex-end;
    align-items: center;
}

ul {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    font-weight: bold;
    color: #2a2a2a;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;/*remove bullets*/
    margin: 0;
    padding: 2rem;
    position:absolute;
}

li{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 0.5rem 0.5rem;
    color: #2a2a2a;
    transition: all 0.3s;
    min-width: fit-content;
    white-space: nowrap;/*prevent text wrapping*/
    overflow: hidden;
}

li:hover {
    transform: translateY(-0.25rem);
    color: white;
    cursor: pointer;
}

a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
    color: #2a2a2a;
    transition: all 0.3s;
    text-decoration: none; /*remove underline*/
    position: relative;
    text-decoration: none;
}

a::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #a0064b;
    transition: width 0.3s ease;
}

a:hover::after, a.active::after{
    width: 100%;
}

span {
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    transition: all 0.5s ease;
    color: white;
    font-weight: bold;
    white-space: nowrap;
    order: 1;
    width: 0;
    overflow: hidden;
}

a:hover span {
    opacity: 1;
    visibility: visible;
    width: auto;
    margin-right: 0.5rem;
    display: block;
}

i {
    font-size: 1.25rem;
    transition: color 0.3s, transform 0.5s;
    order: 2;
}

a:hover i {
    color: white;
    transform: scale(1.2);   
}

nav ul li a{
    position: relative;
    padding-bottom:5px;
}

nav li ul a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #660530;
    transition:width 0.3 ease;
}

nav ul li a.active::after{
    width: 100%;
}
/* end header */

/* main*/
main {
   padding: 1.5rem;
   flex: 1;
   min-height: 10rem;
   margin-inline: auto;
} 

/* search bar */
.search-bar {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-shrink: 0;
    flex:1;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    /* position: fixed; */
}
.search-bar input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 100%;
    height: 2.5rem;
    border-radius: 2rem 2rem 2rem 2rem;
    outline: none;
    
}
.search-bar button {
    padding: 0.5rem 1rem;
    background-color:#a0064b ;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.search-bar button:hover {
    background-color: #660530;
}
/* end search bar */

/* slider */

.container-slider {
    padding: 3.5rem;
    margin-right: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    max-width: 100vw;
    overflow: hidden;
}

.sliderWrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border-radius: 0;
}

.slider-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10 ;
}

.slider-nav a {
    width: 0.5rem; 
    height: 0.5rem;
    opacity: 0.75;
    transition: opacity 250ms;
    border-radius: 50%;
    background-color: hsla(0, 0%, 56%, 0.758);
    display: inline-block;
}

.slider-nav a:hover {
    opacity: 1;
}

.slider {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 55%, 0.233);
    border-radius: 0.5rem;
    scrollbar-width: none; /* Firefox */
    position: relative;
     height: 100%;
    width: 100%;
    border-radius: 0;
}

.slider img {
    scroll-snap-align: start;
    object-fit: cover;
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    flex-shrink: 0;
     height: 100%;
    width: 100%;
    border-radius: 0;
}

.slider ::-webkit-scrollbar{
    display: none; /* Chrome, Safari, Opera */
}

/* end slider */

/* end main */

/* the magic for small screens */
@media (max-width: 768px) {
    aside {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: row;
        justify-content: space-around;
        padding: 0.5rem 0;
        z-index: 1000;
    }
    /*for thing we don't need it*/.btnIn, .btnOut {
        display: none;
    }
    .container-slider{
        margin-top: 80px;
        margin-right: 0;
    }
}
/* end magic */

/*login*/

.login-logo img{
    width: 120px;
    margin-bottom:1.5rem ;

}